<section class="customers">
  <div class="container">
    <h2 class="title">Customers</h2>
    <ul class="customer-list list">
      <li class="customer-item">
        <a
          class="customer-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="customer-icon" width="104" height="56">
            <use href="./images/icons.svg#client-1"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a
          class="customer-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="customer-icon" width="104" height="56">
            <use href="./images/icons.svg#client-2"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a
          class="customer-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="customer-icon" width="104" height="56">
            <use href="./images/icons.svg#client-3"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a
          class="customer-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="customer-icon" width="104" height="56">
            <use href="./images/icons.svg#client-4"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a
          class="customer-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="customer-icon" width="104" height="56">
            <use href="./images/icons.svg#client-5"></use>
          </svg>
        </a>
      </li>
      <li class="customer-item">
        <a
          class="customer-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="customer-icon" width="104" height="56">
            <use href="./images/icons.svg#client-6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
