<section class="features">
  <div class="container">
    <h2 class="visually-hidden">Special feature</h2>
    <ul class="feature-list list">
      <li class="feature-item">
        <div class="icon-svg">
          <svg class="feature-icon" width="64" height="64">
            <use href="./images/icons.svg#antenna"></use>
          </svg>
        </div>
        <h3 class="feature-title item-title">Strategy</h3>
        <p class="feature-text item-text">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <li class="feature-item">
        <div class="icon-svg">
          <svg class="feature-icon" width="64" height="64">
            <use href="./images/icons.svg#clock"></use>
          </svg>
        </div>
        <h3 class="feature-title item-title">Punctuality</h3>
        <p class="feature-text item-text">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <li class="feature-item">
        <div class="icon-svg">
          <svg class="feature-icon" width="64" height="64">
            <use href="./images/icons.svg#diagram"></use>
          </svg>
        </div>
        <h3 class="feature-title item-title">Diligence</h3>
        <p class="feature-text item-text">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <li class="feature-item">
        <div class="icon-svg">
          <svg class="feature-icon" width="64" height="64">
            <use href="./images/icons.svg#astronaut"></use>
          </svg>
        </div>
        <h3 class="feature-title item-title">Technologies</h3>
        <p class="feature-text item-text">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
