<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="container">
    <button class="menu-toggle js-close-menu close-menu-btn">
      <svg class="close-menu-icon" width="8" height="8">
        <use href="./images/icons.svg#close-menu"></use>
      </svg>
    </button>

    <ul class="mobile-menu list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link" href="./index.html">Studio</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link" href="./portfolio.html">Portfolio</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link link" href="">Contacts</a>
      </li>
    </ul>
    <address class="mobile-address">
      <ul class="mobile-address-list list">
        <li class="mobile-tel-item">
          <a class="mobile-tel-link link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
        <li class="mobile-address-item">
          <a class="mobile-address-link link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
      </ul>
      <ul class="social-list list">
        <li class="social-item">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./images/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</div>
