<section class="our-works">
  <div class="container">
    <h2 class="title">What are we doing</h2>
    <ul class="work-list list">
      <li class="work-item">
        <img
          class="work-img"
          srcset="./images/works/work-1@2x.jpg 2x"
          src="./images/works/work-1.jpg"
          alt="doing-1"
          width="360"
          height="300"
        />
      </li>
      <li class="work-item">
        <img
          class="work-img"
          srcset="./images/works/work-2@2x.jpg 2x"
          src="./images/works/work-2.jpg"
          alt="doing-2"
          width="360"
          height="300"
        />
      </li>
      <li class="work-item">
        <img
          class="work-img"
          srcset="./images/works/work-3@2x.jpg 2x"
          src="./images/works/work-3.jpg"
          alt="doing-3"
          width="360"
          height="300"
        />
      </li>
    </ul>
  </div>
</section>
