.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero/hero-bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #464766;
  width: 100%;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero/hero-bg-mobile@2x.png');
  }
}

.hero-title {
  max-width: 320px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--bg-btn-color);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;

  transition: background-color var(--cubic);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-color);
}
