@import url('./css/global.css');
@import url('./css/header.css');
@import url('./css/hero.css');
@import url('./css/features.css');
@import url('./css/our-works.css');
@import url('./css/team.css');
@import url('./css/customers.css');
@import url('./css/footer.css');
@import url('./css/mobile-menu.css');
@import url('./css/backdrop.css');
@import url('./css/header-media.css');
@import url('./css/hero-media.css');
@import url('./css/features-media.css');
@import url('./css/our-works-media.css');
@import url('./css/team-media.css');
@import url('./css/customers-media.css');
@import url('./css/footer-media.css');
@import url('./css/mobile-menu-media.css');
@import url('./css/backdrop-media.css');

/* =================== Header =================== */

/*  */

/* =================== /Header =================== */

/* =================== Feature =================== */

/* =================== /Feature =================== */

/* =================== Team =================== */

/*
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

 */

/* =================== /Team =================== */

/* =================== Customers =================== */

/* =================== /Customers =================== */

/* =================== Portfolio =================== */
.card-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters {
  display: flex;
  gap: var(--margin-gap);
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  transition: background-color var(--cubic), color var(--cubic),
    box-shadow var(--cubic), border-color var(--cubic);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #fff;
  background-color: var(--active-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-gap);
}
.card-item {
  flex-basis: calc((100% - 48px) / 3);
}
.card-link {
  display: block;
  transition: box-shadow var(--cubic);
}
.wrap {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translate(0, 100%);
  transition: transform var(--cubic);

  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
}

.card-link:hover,
.card-link:focus,
.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translate(0, 0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.card-title {
  margin-bottom: 8px;
}
/* =================== /Portfolio =================== */

/* =================== Footer =================== */
/* .footer {
  background-color: var(--primary-color);
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}
.footer1,
.footer-media {
  margin-bottom: 72px;
}








.footer-input {
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  background-color: transparent;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

*/

/* =================== /Footer =================== */

/* =================== Modal Window =================== */

/* =================== /Modal Window =================== */

/* =================== Modal Form =================== */

/* =================== /Modal Form =================== */
